.body {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("https://www.xtrafondos.com/wallpapers/nubes-al-amanecer-arte-digital-7318.jpg");
}
.calculator {
    width: 500px;
    border: 5px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin-top: 170px;
    height: 275px;
    margin-left: 550px;
    font-size: 20px;
}
nav {
    background-color: #333;
}
.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
h2 {
    align-items: center;
    justify-content: center;
    color: white;
}
.menu li a {
    color: white;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 20px;
    text-decoration: none;
}
.menu li a:hover {
    background-color: #555;
}
.calculator-display {
    background-color: orange;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 50px;
    padding: 4px;
    font-size: larger;
    text-align: right;
    justify-content: right;
    margin-bottom: 8px;
}
.calculator-buttons {
    display: grid;
    height: 200px;
    grid-template-columns: repeat(4, 2fr);
    grid-gap: 3px;
}
button {
    font-size: 20px;
    border: none;
    color: black;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
}
button:hover {
    background-color: #aaa;
}
.footpage {
    width: 1620px;
    height: 40px;
    background-color: maroon;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 265px;
    margin-left: -600px;
}